html,body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 11px;
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;
}

table.body {
    border-width: 0px;
    border-style: solid;
    border-color: #686868;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    height: 100%;
    width: 100%
}

table.nostyle {
    border-width: 0px;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
}


td.body_head {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #cccccc;
    background-color: #ffffff;
    border-collapse: collapse;
    text-align: left;
    vertical-align: middle;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 11px;
    height: 65px;
    color: #000000
}

td.body_menu {
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: #cccccc;
    background-color: #ffffff;
    border-collapse: collapse;
    text-align: left;
    vertical-align: top;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 11px;
    width: 220px;
    color: #000000
}

td.body_footer {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #cccccc;
    background-color: #f3f3f3;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 11px;
    height: 35px;
    color: #000000;
}


td.main_head {
    border-width: 1px;
    border-style: solid;
    border-color: #686868;
    background-color: #ffffcc;
    border-collapse: collapse;
    vertical-align: middle;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #000000
}

td.main0 {
    border-width: 1px;
    border-style: solid;
    border-color: #686868;
    background-color: #ffffff;
    border-collapse: collapse;
    text-align: left;
    vertical-align: top;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 11px;
    color: #000000
}

td.main1 {
    border-width: 1px;
    border-style: solid;
    border-color: #686868;
    background-color: #E0E0E0;
    border-collapse: collapse;
    text-align: left;
    vertical-align: middle;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 11px;
    color: #000000
}

td.main2 {
    border-width: 1px;
    border-style: solid;
    border-color: #686868;
    background-color: #FF0000;
    border-collapse: collapse;
    text-align: left;
    vertical-align: middle;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 11px;
    color: #000000
}

td.main3 {
    border-width: 1px;
    border-style: solid;
    border-color: #686868;
    background-color: #FFCC00;
    border-collapse: collapse;
    text-align: left;
    vertical-align: middle;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 11px;
    color: #000000
}


td.main4 {
    border-width: 1px;
    border-style: solid;
    border-color: #686868;
    background-color: #ffff66;
    border-collapse: collapse;
    text-align: left;
    vertical-align: middle;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 11px;
    color: #000000
}

td.main5 {
    border-width: 1px;
    border-style: solid;
    border-color: #686868;
    background-color: #3399ff;
    border-collapse: collapse;
    text-align: left;
    vertical-align: middle;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 11px;
    color: #000000
}
td.main6 {
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 11px;
    color: #000000;
    vertical-align:top;
}
td.nostyle {
    border-width: 0px;
    border-style: solid;
    border-color: #686868;
    background-color: #ffffff;
    border-collapse: collapse;
    vertical-align: middle;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 11px;
    color: #000000
}

textarea {
    border: 1px solid #cccccc;
    background-color: #f3f3f3;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 11px;
}

fieldset {
    width: 365px;
    padding: 10px;
    margin: 0 0 0 0;
    border: 1px solid #cccccc;
}

legend {
    padding: 0.2em 0.5em;
    border: 1px solid #cccccc;
    color: #000000;
    font-weight: normal;
    text-align: center;
}

input.button1 {
    border: 1px solid #686868;
    background: #686868;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #FFFFFF; 
}

div.main {
text-align: center;
vertical-align: middle;
}

div.last_note {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #00008B;
    font-size: 14px;
}

.centerFieldset fieldset {
display:inline;
margin-left:auto;
margin-right:auto;
text-align:left;
}

.input_grey {
    border: 0px;
    background: #e6e6e6;
}
.menu a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 11px;
	color: #4C1311; 
	text-decoration: none;    
}
.msg{
    border: 1px solid #686868;
    background: #CCDFC3;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    padding:3px;
    font-weight:bold;
}
.error{
    border: 1px solid #686868;
    background: #FFCFDA;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    padding:3px;
    color:#CF0008;
}
.regular{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 11px;
	color: #000000; 
	text-decoration: none; 
}
.input_text{
    border: 1px solid #686868;
    background: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
}

.input_text_fixed{
    border: 1px solid #686868;
    background: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
	width:300px;
}
.label{
	background: #e6e6e6;
	font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
}
.token{
	font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: 12px;
}
.menusel{
	background-color: #CCCCCC;
	padding:1px;	
}
a{
	font-family: Arial, Helvetica, sans-serif;
	color: #034A65;
	text-decoration: none;
	font-size: 11px;
}
a:hover{
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	font-size: 11px;
} 
.doc_content {
    text-align: left;
    vertical-align: top;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 11px;
    color: #000000
}
.doc_title{
    text-align: left;
    vertical-align: top;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: #000000;
    font-weight: bold;
}
.top_nav{
	text-align:right;
}
.heading
{
	font-weight: bold;
	font-size: 18px;
}
.sub_heading
{
	font-weight: bold;
}

.Code
{
	border: #8b4513 1px solid;
	padding-right: 5px;
	padding-left: 5px;
	color: #000066;
	font-family: 'Courier New' , Monospace;
	background-color: #ff9933;
}